@import "./tailwind.scss";
// @font-face {
//     font-family: "Banco";
//     src: url("../fonts/BancoDoBrasilTextos-Regular.ttf");
// }
:root {
    --primary: 85, 216, 146;
    --secondary: 65, 71, 188;
}

html,
body {
    @apply min-h-screen w-screen  overflow-x-hidden;
    font-family: "Raleway";
    color: #444444;

    #root {
        @apply flex flex-col w-screen min-h-screen max-w-full overflow-x-hidden;
        > .main {
            @apply flex-1;
        }
    }
}
button,
select,
option {
    font-family: "Raleway";
}
.title {
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    color: #585b65;
    text-align: center;
}
.sub-title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: #585b65;
    text-align: center;
}
.label {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
}
input::placeholder,
textarea::placeholder {
    color: #656565;
    font-size: 16px;
    font-weight: 500;
}
// textarea {
//     color: #0f1b37;
// }
// .label-checkbox {
//     color: #0f1b37;
//     font-size: 14px;
//     font-weight: 400;
// }
.btn-submit {
    position: relative;
    overflow: hidden;
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0px;
        width: 100%;
        background-color: black;
        filter: contrast(100px);
        opacity: 0.1;
        transition: all 300ms ease;
    }
    &:hover {
        &::after {
            height: 100%;
        }
    }
}
